<h1>Edit Request</h1>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= simple_form_for @erasure_request do |f| %>
  <%= f.input :email %>
  <% if @erasure_request.verified %>
    <%= f.simple_fields_for :removal_actions do |r| %>
      <h2><%= r.object.property.name %></h2>
      <%= r.input :notes %>
      <%= r.check_box :completed %>
    <% end %>
  <% else %>
    <p>Erasure request must be verified before it can be actioned</p>
  <% end %>
  <%= f.button :submit %>
<% end %>
 
<%= link_to 'Back', erasure_requests_path %>
