<h1 class="title is-2">Erasure Requests</h1>

<%= link_to 'New request', new_erasure_request_path, { :class => 'button is-primary' } %>
 
<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Verified</th>
      <th>Verify Link</th>
      <th>Actions</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @erasure_requests.each do |request| %>
    <tr>
      <td><%= link_to request.email, erasure_request_path(request) %></td>
      <td><%= request.verified %></td>
      <td><%= link_to 'Verify', verify_path(:token => request.verify_token) %></td>
      <td><%= link_to 'Edit', edit_erasure_request_path(request) %></td>
    </tr>
  <% end %>
  </tbody>
</table>