<h1>New Request</h1>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= simple_form_for @erasure_request do |f| %>
  <%= f.input :email %>
  <%= f.association :properties, as: :check_boxes, :input_html => { :checked => true } %>
  <%= f.button :submit %>
<% end %>