<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h1>Edit Property</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <%= simple_form_for @property do |f| %>
      <%= f.input :name %>
      <%= f.input :url %>
      <%= f.input :notes %>
      <div class="form-group">
        <%= f.button :submit, { :class => 'btn-primary' } %>
      </div>
    <% end %>
    </div>
  </div>
</div>