<h1 class="title is-2">Properties</h1>

<%= link_to 'New property', new_property_path, { :class => 'button is-primary' } %>
 
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th>Notes</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @properties.each do |property| %>
    <tr>
      <td><%= link_to property.name, property_path(property) %></td>
      <td><%= link_to property.url, property.url %></td>
      <td><%= property.notes %></td>
      <td><%= link_to 'Edit', edit_property_path(property) %></td>
    </tr>
  <% end %>
  </tbody>
</table>